/.venv/
/.idea/
/hadoop/docker_compose(move_to_hadoop).yml
/playground.py
/.coverage
/tmp.csv
/unit_tests/tmp.csv
/logfile.log
/silhouette.png
/datamart/target/
/datamart/.idea/
/datamart/project/target/
/datamart/.bsp/sbt.json
/datamart/project/project/target/config-classes/*
src/main/.DS_Store
.DS_Store